


	<div class="container">
		<div class="row my-5 d-flex justify-content-center">
			<div class="pri col-8 text-center">
				<h1 class="display-4 text-primary"><strong>Precios de los Servicios</strong></h1>
				<p class="lead text-primary">COBERTURA No incluye IGV.</p>
                <p>Libre sin recargo Lince, La Victoria, San Luis, San Isidro.</p>
                <p>Delivery recargo de 10 soles : Miraflores, Jesús María, San Borja.</p>
                <p>Delivery recargo de 15 soles : Surco Oeste antes de pasar la Panamericana, 
                    Magdalena, Pueblo libre, Breña, Barranco, San Miguel, Rimac.</p>
                <p>Delivery recargo de 20 soles : Surco Este pasando la Panamericana, 
                    Chorrillos, la Molina, San Juan de Miraflores.</p>
                <p>Delivery recargo de 25 soles : Villa María del triunfo, Villa El Salvador</p>
                <p> Delivery recargo de 30 soles : Independencia, San Martín de Porres, Los Olivos.</p>
                <hr>
                <h3><strong class="text-primary">HORARIO DE ATENCIÓN DEL LAVADO A DOMICILIO</strong></h3>
                <p>De lunes a sábado de 8:00 am a 6:30 pm. La atención a domicilio 
                    se realizará previa cita a nuestro correo contacto@autowashperu.com </p>
                <p>reservas@autowashperu.com o reservando online</p>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="card-deck">
					<!-- Card 1 -->
					<div class="card mb-4" style="min-width: 250px;">
						<div class="card-header">
							<h4 class="my-0 text-center text-primary"><strong>Lavado Premium</strong></h4>
						</div>
						<div class="card-body text-center">
							<h2>S/ 279 <span class="text-muted">/ Por Servicio</span></h2>
							<ul class="list-unstyled">
							
                                <li>Lavado de carrocería</li>
                                <li>Aspirado de pisos</li>
								<li>Lavado de neumáticos</li>
								<li>Limpieza de puertas</li>
								<li>Limpieza de timón</li>
								<li>Limpieza de consola</li>
								<li>Aspirado interior</li>
								<li>Aplicación de shampoo y secado</li>
							</ul>

							</div>
					</div>
					<!-- Card 2 -->
					<div class="card mb-4" style="min-width:250px;">
						<div class="card-header">
							<h4 class="my-0 text-center text-primary"><strong>Lavado Gold</strong></h4>
						</div>
						<div class="card-body text-center">
							<h2>S/ 299 <span class="text-muted">/ Por Servicio</span></h2>
							<ul class="my-3 list-unstyled">
								<li>Lavado de carrocería</li>
								<li>Aplicación de shampoo y secado</li>
								<li>Aspirado de pisos</li>
								<li>Lavado de neumáticos</li>
								<li>Limpieza de puertas</li>
								<li>Limpieza de timón</li>
								<li>Limpieza de consola</li>
								<li>Aspirado y limpieza de maletera</li>
								<li>Perfumado</li>
								<li>Lavado de motor</li>
							</ul>
							<button class="btn btn-primary btn-lg btn-block">Solicitar Ahora</button>
						</div>
					</div>
					<!-- Card 3 -->
					<div class="card mb-4" style="min-width:250px;">
						<div class="card-header">
							<h4 class="my-0 text-center text-primary"><strong>Lavado Platinum</strong></h4>
						</div>
						<div class="card-body text-center">
							<h2>S/ 429 <span class="text-muted">/ Por Servicio</span></h2>
							<ul class="my-3 list-unstyled">
								<li>Lavado de carrocería</li>
								<li>Aplicación de shampoo y secado</li>
								<li>Soporte por email</li>
								<li>Aspirado de pisos</li>
								<li>Lavado de neumáticos</li>
								<li>Limpieza de puertas</li>
								<li>Limpieza de timón</li>
								<li>Limpieza de consola</li>
								<li>Encerado con cera Sonax</li>
								<li>Aspirado interior</li>
								<li>Perfumado</li>
								
							</ul>
							<button class="btn btn-primary btn-lg btn-block">Solicitar Ahora</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
