@model Proyecto_Fia.Models.MensajePago

<h2>Detalles</h2>

<fieldset>
    <legend> Clientes - Pago </legend>

    <div class="display-label">
        @Html.DisplayNameFor(model =>model.Nombre)
    </div>

    <div class="display-label">
        @Html.DisplayFor(model =>model.Nombre)
    </div>






</fieldset>