@{
    ViewData["Title"] = "Servicios";
}
    <header>
		<div class="bg-dark collapse" id="navbarHeader">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-8 py-4">
						<h4 class="text-white">Acerca de</h4>
						<p class="text-muted">El mejor lugar para lavar tus carros</p>
					</div>
					<div class="col-12 col-sm-4 py-4">
						<h4 class="text-white">Contacto</h4>
						<ul class="list-unstyled">
							<li><a href="#" class="text-white">Siguenos en Twitter</a></li>
							<li><a href="#" class="text-white">Like en Facebook</a></li>
							<li><a href="#" class="text-white">Envianos un correo</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="navbar navbar-dark bg-dark">
			<div class="container d-flex justify-content-between">
				<a href="#" class="navbar-brand d-flex align-items-center">
					<i class="fas fa-camera mr-2"></i>
					<strong>ALBUM - CARWASH</strong>
				</a>
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Alternar Navegacion">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</div>
	</header>


<main>
		<section class="jumbotron bg-white text-center mb-0">
			<div class="container">
				<h3 class="display-4"><strong class="">Galeria - Clientes</strong></h3>
				<p class="lead text-muted">
					¡CONVIÉRTASE EN UN MIEMBRO CARWASH CLUB Y LAVE SU AUTOMÓVIL TODOS LOS DÍAS!</p>
				<p>No hay contratos o compromisos a largo plazo y puede cancelar en cualquier momento.</p>
				<p>
					<a asp-area="" asp-controller="Home" asp-action="Contacto" class="btn btn-primary my-2">Contactanos</a>
					<a asp-area="" asp-controller="Servicios" asp-action="Tipo" class="btn btn-secondary my-2">Ver Servicios</a>
						
				</p>
			</div>
		</section>

		<div class="py-5 bg-light">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-4">
						<div class="card mb-4">
							<img src="~/images/gal3.jpg" class="card-img-top" alt="">
							<div class="card-body">
								<p class="card-text">Cuando necesite el toque profesional, estamos allí para usted y su automóvil.</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button class="btn btn-sm btn-outline-secondary">Ver</button>
										<button class="btn btn-sm btn-outline-secondary">Editar</button>
									</div>
									<small class="text-muted">2 min</small>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="card mb-4">
							<img src="~/images/gal4.jpg" class="card-img-top" alt="">
							<div class="card-body">
								<p class="card-text">Nada puede hacer que su auto esté más limpio que nuestros modernos túneles de lavado.</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button class="btn btn-sm btn-outline-secondary">Ver</button>
										<button class="btn btn-sm btn-outline-secondary">Editar</button>
									</div>
									<small class="text-muted">7 min</small>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="card mb-4">
							<img src="~/images/gal7.jpg" class="card-img-top" alt="">
							<div class="card-body">
								<p class="card-text">Te damos una solucion inmediata, somos tu mejor opcion.</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button class="btn btn-sm btn-outline-secondary">Ver</button>
										<button class="btn btn-sm btn-outline-secondary">Editar</button>
									</div>
									<small class="text-muted">12 min</small>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="card mb-4">
							<img src="~/images/gal8.jpg" class="card-img-top" alt="">
							<div class="card-body">
								<p class="card-text">Garantia en nuestras manos.¡Tu mejor CARWASH!</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button class="btn btn-sm btn-outline-secondary">Ver</button>
										<button class="btn btn-sm btn-outline-secondary">Editar</button>
									</div>
									<small class="text-muted">19 min</small>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="card mb-4">
							<img src="~/images/gal9.jpg" class="card-img-top" alt="">
							<div class="card-body">
								<p class="card-text">¡Conduzca siempre limpio! Siempre te brindaremos el mejor servicio.</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button class="btn btn-sm btn-outline-secondary">Ver</button>
										<button class="btn btn-sm btn-outline-secondary">Editar</button>
									</div>
									<small class="text-muted">28 min</small>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="card mb-4">
							<img src="~/images/gal10.jpg" class="card-img-top" alt="">
							<div class="card-body">
								<p class="card-text">Nada puede hacer que su auto esté más limpio que nuestros modernos túneles de lavado.</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button class="btn btn-sm btn-outline-secondary">Ver</button>
										<button class="btn btn-sm btn-outline-secondary">Editar</button>
									</div>
									<small class="text-muted">40 min</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>