<hr>
<hr>
<h1>Datos Registrados Exitosamente</h1>
<hr>
<hr>

<div class="row acerca-de align-items-center">
                <div class="col-12 col-lg-4 foto">
                    <img src="~/images/gal9.jpg" class="rounded-circle img-fluid" alt="">
                    <p class="nombre">Base Conectada</p>
                </div>
                <div class="col-12 col-lg-8 info">
                    
                    <p class="resumen">Datos Correctos y procesados en la base de datos</p>

                    <p class="label">Carga Registrada</p>
                    <div class="progress">
                        <div class="progress-bar" style="width:100%;">100%</div>
                    </div>

                   
				</div>