

<div class="container">

        <div class="row">
			<div class="col py-5 text-center">
				<h2>Formulario - Contacto</h2>
				<p class="lead">Si deseas conocer más sobre nuestro servicio de lavado de carrocería, escríbenos 
					al formulario de contacto. En Salón Car Wash estaremos encantados de responder todas tus consultas.</p>
			</div>
		</div>

		<div class="row mt-3">
			<div class="col">
				<form action="">
					<div class="form-group row">
						<div class="col-12 col-md-6 mb-3">
							<label for="nombre">Nombre</label>
							<input type="text" class="form-control" placeholder="Nombre" name="nombre" id="nombre">
						</div>

                        <div class="col-12 col-md-6 mb-3">
							<label for="nombre">Apellido</label>
							<input type="text" class="form-control" placeholder="Apellido" name="apellido" id="apellido">
						</div>

                        <div class="col-12 col-md-6 mb-3">
							<label for="nombre">Dni</label>
							<input type="text" class="form-control" placeholder="Dni" name="dni" id="dni">
						</div>

                        <div class="col-12 col-md-6 mb-3">
							<label for="Correo">Correo</label>
							<input type="email" class="form-control" placeholder="Correo" name="correo" id="correo">
						</div>

                        <div class="col-12 col-md-6 mb-3">
							<label for="Correo">Celular</label>
							<input type="text" class="form-control" placeholder="Celular" name="celular" id="celular">
						</div>

						<div class="col-12 col-md-6 mb-3">
							<label for="pass">Direccion</label>
							<input type="text" class="form-control" placeholder="Direccion" name="direccion" id="direccion">
						</div>
					</div>

					<div class="form-group row">
						<div class="col-12 col-md-6 mb-3">
							<label for="mensaje">Mensaje</label>
							<textarea name="mensaje" id="mensaje" class="form-control"></textarea>
						</div>

						<div class="col-12 col-md-3 mb-3">
							<label>Sexo</label>
							<div class="form-check">
								<label class="form-check-label">
									<input type="radio" name="sexo" id="hombre" class="form-check-input mr-2">Hombre
								</label>
							</div>
							<div class="form-check">
								<label class="form-check-label">
									<input type="radio" name="sexo" id="mujer" class="form-check-input mr-2">Mujer
								</label>
							</div>
						</div>

						<div class="col-12 col-md-3 mb-3">
							<label for="distrito">Distrito</label>
							<select name="distrito" id="distrito" class="form-control">
								<option value="La Victoria">La Victoria</option>
								<option value="San Luis">San Luis</option>
								<option value="Miraflores">Miraflores</option>
							</select>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-12 text-center">
							<label class="form-check-label">
								<input type="checkbox" name="terminos" id="terminos" class="form-check-input mr-2 mb-3">Acepto Terminos y Condiciones
							</label>
							<div class="row justify-content-center">
								<div class="col-12 col-sm-9 col-md-4">
									<button class="btn btn-primary btn-block" type="submit">Enviar</button>
								</div>
							</div>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>