<hr>
<hr>
<h1>EL CLIENTE HA SIDO REGISTRADO EXITOSAMENTE.</h1>

<hr>
<hr>


 <div class="row acerca-de align-items-center">
                <div class="col-12 col-lg-4 foto">
                    <img src="~/images/gal9.jpg" class="rounded-circle img-fluid" alt="">
                    <p class="nombre">TE BRINDAMOS EL MEJOR SERVICIO</p>
                </div>
                <div class="col-12 col-lg-8 info">
                    <h2 class="titulo">Nuestros Clientes</h2>
                    <p class="resumen">Una Grata sorpresa, haber caido de causalidad en esta grandiosa empresa
                        , excelente servicio de brillo extremo, reparacion y pintado de aros, cambio de asientos
                        de cuero. Cumplen en el tiempo Pactado, entregan comprobante de pago y lo mas importante, 
                        el servicio es de altisima calidad.</p>

				</div>


 </div>